@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  background-color: #34af6d;
  font-family: "Rubik", sans-serif;
}

.input-height {
  height: 40px;
  border-radius: 10px;
}

.input-width {
  width: 80px;
}

#breathcode-icon {
  height: 70px;
  width: 70px;
}

.naipe {
  font-size: 30px;
  font-weight: bolder;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  height: 190px;
  width: 130px;
}

.abajo {
  transform: rotate(180deg);
  transform-origin: left-top;
}
